@import 'base/_base';
@import 'components/_components';
@import 'pages/_pages';

.mr-5 {
  margin-right: 5px;
}
.ml-5 {
  margin-left: 5px;
}
.w-100 {
  width: 100px;
}
.w-150 {
  width: 150px;
}
.w-250 {
  width: 250px;
}
