.table-container {
  .table {
    thead {
      th {
        background-color: $gray-3;
      }
    }

    .th-total,
    .td-total {
      border: none !important;
    }

    .cart-item {
      .cart-img {
        max-width: 75%;
      }
    }
  }
}

.buttons {
  display: flex;
  justify-content: end;

  .btn-primary {
    margin-right: 10px;
  }
}
