// Middle bar

.main-header {
  .top-contact-bar {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 5px 0;
    background-color: $primary;
    .phone-container {
      margin-right: 20px;
      .phone {
        color: $white;
      }
    }

    .social-container {
      .social-link {
        color: $white;

        &:not(:last-of-type) {
          margin-right: 10px;
        }
      }
    }
  }

  .middle-container {
    height: 70px;
    display: flex;
    align-items: center;
    position: relative;
    .logo {
      font-size: 40px;
      line-height: 20px;
    }

    .open-search {
      border-radius: 3px;
      flex: auto;
      margin: 0 15px;
      overflow: hidden;
      position: relative;

      @media (max-width: 991px) {
        margin: 0;
        position: static;
        text-align: right;
      }

      .fa-search {
        display: none;
        @media (max-width: 991px) {
          display: block;
          cursor: pointer;
        }
      }

      .input-open-search {
        display: none;

        &:checked ~ .search-container {
          display: block !important;
        }
      }

      .search-container {
        @media (max-width: 991px) {
          display: none;
          position: absolute;
          left: 0;
          top: 70px;
          width: 100%;
          z-index: 999;
        }
        // input search effects
        .input-search {
          border-radius: 3px;
          border: 1px solid #e1e1e1;
          height: 40px;
          padding: 0 70px 0 15px;
          width: 100%;
          // style and effect focus inputs
          background: white no-repeat;
          transition: 100ms all linear 0s;
          background-image: linear-gradient(to bottom, rgba(77, 97, 252, 0.63) 0%, rgba(77, 97, 252, 1) 90%), linear-gradient(to bottom, #e1e1e1, #e1e1e1);
          background-size: 0 2px, 100% 1px;
          background-position: 50% 100%, 50% 100%;
          // effect transition
          transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
          &:focus {
            background-size: 100% 2px, 100% 1px;
            outline: none;
          }
        }
        // open search menu mobile
        .button-search {
          background: $primary;
          border: 0;
          color: $white;
          cursor: pointer;
          padding: 13px 20px;
          position: absolute;
          right: 0px;
          top: 0px;
          .fa-search {
            display: block;
          }
        }
      }
    }
    .nav-content {
      // list nav
      @media (max-width: 991px) {
        padding-top: 13px;
      }
      .nav-content-list {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 0 15px;
        .nav-content-item {
          align-items: center;
          display: flex;
          height: 40px;
          margin: 0 5px;
          position: relative;
          transition: 100ms all linear 0s;

          @media (max-width: 991px) {
            padding: 0 5px;
          }

          .item-arrow {
            margin-left: 5px;
            position: relative;
            top: -3px;
            @media (max-width: 768px) {
              display: none;
            }
          }

          // open menu mobile icone
          .open-menu-login-account {
            align-items: center;
            cursor: pointer;
            display: flex;
            position: relative;
          }
          .input-menu {
            display: none;
            &:checked ~ .login-list {
              display: block;
            }
          }

          .login-list {
            background: $white;
            border-bottom: 3px solid $primary;
            border-radius: 3px;
            box-shadow: $shadow;
            display: none;
            overflow: hidden;
            position: absolute;
            right: 0;
            top: 28px;
            transition: 100ms all linear 0s;
            width: 200px;
            z-index: 10;
            list-style-type: none;
            padding-left: 0;
            .login-list-item {
              padding: 15px 20px;
              a {
                color: $primary;
                text-decoration: none;
              }
              &:hover {
                background: $primary;
                a {
                  color: $white;
                }
              }
            }
          }
        }
        //nav items
        .nav-content-item {
          &:nth-child(2):hover .fas {
            color: $secondary;
          }
          &:hover .fas {
            color: $primary;
          }
        }
        // text create account login
        .account-login {
          .login-text {
            align-items: end;
            display: flex;
            flex-direction: column;
            font-size: 12px;
            margin-left: 5px;
            @media (max-width: 991px) {
              display: none;
            }
            strong {
              display: block;
            }
          }
        }
        // nav links menu
        .nav-content-link {
          border-radius: 3px;
          font-size: 19px;
          padding: 10px 15px;
          transition: 100ms all linear 0s;
          color: $primary;
          position: relative;
          @media (max-width: 991px) {
            padding: 0;
          }

          .cart-count {
            position: absolute;
            top: 0;
            right: 0;

            @media (max-width: 991px) {
              right: -15px;
            }
          }
        }
      }
    }
  }

  .nav-container {
    background-color: $gray-3;
    padding: 10px;
    border-top: 1px solid $gray-2;
    border-bottom: 1px solid $gray-2;

    .hamburger {
      display: block;
      position: relative;
      z-index: 1;
      user-select: none;
      border: none;
      outline: none;
      background: none;
      cursor: pointer;
      float: right;

      span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background-color: $primary;
        border-radius: 6px;
        z-index: 1;
        transform-origin: 0 0;
        transition: 0.4s;
      }

      &:hover {
        span {
          &:nth-child(2) {
            transform: translate(10px);
            background-color: $primary;
          }
        }
      }

      &.is-active {
        span {
          &:nth-child(1) {
            transform: translate(0px, -2px) rotate(45deg);
          }

          &:nth-child(2) {
            opacity: 0;
            transform: translate(15px);
          }

          &:nth-child(3) {
            transform: translate(-3px, 3px) rotate(-45deg);
          }
        }

        &:hover {
          span {
            background-color: $secondary;
          }
        }
      }

      @media (min-width: 768px) {
        display: none;
      }
    }

    .menu {
      display: none;
      flex: 1 1 0%;
      justify-content: center;
      margin: 0 -16px;

      a {
        color: $primary;
        margin: 0 16px;
        font-weight: 600;
        text-decoration: none;
        transition: 0.4s;
        padding: 8px 16px;

        &.is-active,
        &:hover {
          background-color: $primary;
          color: $white;
        }
      }

      @media (min-width: 768px) {
        display: flex;
      }
    }
  }
}
